//共用設定
html {
  font-size: 16px;
}

body {
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ccc;
  background: #333;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #d99ee1;
}

img {
  width: 100%;
}

.header {
  padding: 28px 0 10px;
  width: 100%;
  background: url('../images/black-wood-angle-texture.jpg') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
  vertical-align: bottom;

  .logo {
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
    height: 56px;
    text-indent: 100%;
    white-space: nowrap;
    background: url('../images/logo.svg') no-repeat center center;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.header-nav {
  margin: 15px auto 0;
  text-align: center;
  font-weight: 700;

  .nav-item {
    display: inline-block;
    margin: 0 10px;

    a {
      position: relative;
      display: block;
      padding: 0 10px 5px;
      width: 100%;
      font-size: 1.3rem;
      text-align: center;
      color: #333;
      text-shadow: 1px 1px #d99ee1, -1px 1px #d99ee1, 1px -1px #d99ee1, -1px -1px #d99ee1;
      letter-spacing: 0.2rem;
    }

    a:hover {
      color: #d99ee1;
      text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
    }

    a::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      margin: 2px 0;
      width: 0%;
      height: 2px;
      background: linear-gradient(0deg, #d99eea, #ceade3);
      transition: width 0.3s 0.1s;
      content: '';
    }

    a:hover::after {
      width: 100%;
    }
  }
}

.wrap {
  margin: 2rem auto 2.5rem;
  width: 970px;
  max-width: 100%;
}

.main {
  float: left;
  width: 64%;
  max-width: 100%;

  .hot-topic-a-block {
    display: block;
    margin-bottom: 30px;
    height: 100%;
    opacity: 0.8;
    box-shadow: 6px 6px 4px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;

    .img {
      display: block;
      float: left;
      width: 50%;
      height: 30rem;
    }

    .content {
      position: relative;
      float: right;
      overflow-y: auto;
      padding: 6rem 1.2rem 1rem;
      width: 50%;
      height: 30rem;
      background-color: #2d3d54;
      line-height: 1.6;

      > h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: #fffafa;
        font-weight: 700;
      }

      >p {
        color: #ddc;
      }

      >time {
        position: absolute;
        top: 2rem;
        left: 0;
        padding: 4px;
        width: 10rem;
        font-size: 1.1rem;
        color: #2d3d54;
        background-color: #fff;
        letter-spacing: 1px;
        font-weight: 700;
        line-height: 1;
      }
    }

    .content::-webkit-scrollbar {
      width: 15px;
    }

    .content::-webkit-scrollbar-track {
      background: transparent;
    }

    .content::-webkit-scrollbar-track-piece {
      background: transparent;
    }

    .content::-webkit-scrollbar-thumb {
      background: linear-gradient(0deg, #e4b7f1, #d99eea, #ceade3);
      border-radius: 15px;
    }
    .content::-webkit-scrollbar-thumb:hover { background: #ceade3; }
  }

  .hot-topic-a-block:hover {
    opacity: 1;
  }

  .news {
    h2 {
      padding: 0.6rem 0.8rem;
      font-size: 1.6em;
      color: #000;
      background: linear-gradient(30deg, #fff, #d99eea);
      letter-spacing: 1px;
    }
  }

  .scroll-list {
    overflow-y: auto;
    margin-bottom: 30px;
    max-height: 230px;
    border: 1px solid rgb(217, 158, 225);
    list-style-type: none;

    .scroll-item:nth-child(even) {
      a {
        background-color: rgba(217, 158, 225, 0.3);
      }
    }

    .scroll-item {
      a {
        display: block;
        padding: 10px 15px;
        font-size: 0;
        color: rgb(255, 255, 255);
        transition: background-color 0.1s;
      }

      a:hover {
        background-color: rgba(217, 158, 225, 0.7);
      }
    }

    .date {
      display: inline-block;
      width: 30%;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 1px;
      vertical-align: top;
    }

    .category {
      display: inline-block;
      margin: auto 0;
      width: 20%;
      font-size: 1.2rem;
      text-align: center;
      color: #333;
      background-color: rgba(217, 158, 225, 0.9);
      border-radius: 5px;
      letter-spacing: 1px;
      line-height: 1;
      font-weight: 700;
      vertical-align: top;
    }

    .title {
      display: inline-block;
      overflow: hidden;
      padding-left: 1rem;
      width: 50%;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
      vertical-align: top;
    }
  }
  .scroll-list::-webkit-scrollbar { width: 0; }

  .article:nth-child(odd) {
    float: left;
  }

  .article:nth-child(even) {
    float: right;
  }

  .article {
    position: relative;
    display: block;
    margin-bottom: 2rem;
    width: 49%;
    height: 25rem;
    background-color: #2d3d54;
    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
    transition: 0.15s;

    .title {
      margin-top: 2rem;
      font-size: 1.4rem;
      color: #fffafa;
      line-height: 1.6;
      border-bottom: 1px solid #fffafa;
    }

    .desc {
      overflow: hidden;
      margin-top: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.6;
      color: #ddc;
    }

    .date {
      position: absolute;
      right: 0;
      bottom: 1rem;
      display: block;
      padding: 4px;
      width: 160px;
      font-size: 1.1rem;
      text-align: center;
      color: #2d3d54;
      background-color: #fff;
      letter-spacing: 1px;
      font-weight: 700;
    }

    .img {
      width: 100%;
      height: 200px;
    }
  }

  .article:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 1px 1px #d99eea, -1px 1px 1px 1px #d99eea, 1px -1px 1px 1px #d99eea, -1px -1px 1px 1px #d99eea;
  }
}

.sidemenu {
  float: right;
  width: 32%;
  max-width: 100%;
}

.ranking {
  margin-bottom: 1rem;
  list-style-type: none;
  counter-reset: ranking;

  .ranking-item {
    position: relative;
    padding-bottom: 1.2rem;
    margin-bottom: 1rem;

    a {
      position: relative;
      top: 10px;
      display: block;
      font-size: 0;
      opacity: 0.8;
      transition: opacity 0.15s;
      transition: 0.3s 0.1s;
    }

    a:hover {
      top: 0;
      color: #fff;
      opacity: 1;
    }

    .img {
      width: 30%;
      height: 55px;
    }

    .order {
      display: inline-block;
      margin: 0 2%;
      width: 5%;
      height: 1rem;
      text-align: center;
      color: #ddc;
      vertical-align: 1.5rem;
      font-weight: 700;
      line-height: 1rem;
      transform: rotate(45deg);
    }

    .order::before {
      display: inline-block;
      font-size: 1rem;
      color: #fff;
      content: counter(ranking);
      counter-increment: ranking;
      transform: rotate(-45deg);
    }

    .text {
      display: inline-block;
      overflow-y: hidden;
      width: 61%;
      height: 3.6rem;
      font-size: 1.2rem;
      color: #ddc;
      vertical-align: top;
      line-height: 1.5;
    }
  }

  .ranking-item:nth-child(3n-2) .order {
    background-color: #d99ee1;
  }

  .ranking-item:nth-child(3n-1) .order {
    background-color: #dab413;
  }

  .ranking-item:nth-child(3n) .order {
    background-color: #7fc5f7;
  }

  .ranking-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fffafa;
    content: '';
  }

  .ranking-item:last-child::after {
    display: none;
  }
}

.documents {
  margin: 10px 10px 30px;
  list-style-type: none;

  ul {
    list-style-type: none;
  }

  >li {
    .title {
      padding-left: 0.5rem;
      margin: 1rem 0;
      border-left: 5px solid #d99eea;
      font-size: 1.5rem;
      font-weight: 700;
    }

    ul,
    >p {
      padding: 1rem;
      margin: 1rem;
      background: linear-gradient(30deg, #fff, #d99eea);
      border-radius: 0.5rem;

      >li {
        overflow: hidden;
        padding: 0.5rem 0 0.5rem 0.5rem;
        margin-bottom: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #333;
        border-radius: 0.5rem;
      }

      li:last-child {
        margin-bottom: 0;
      }
    }

    + li {
      margin-top: 1.5rem;
    }

    >p {
      position: relative;
      overflow: hidden;
      color: #000;
      transition: 0.5s;
    }

    >p::after {
      position: absolute;
      bottom: 35%;
      left: 5rem;
      width: 0%;
      border-bottom: 5px dotted #000;
      content: '';
      transition: 0.7s;
    }

    p:hover::after {
      width: 20%;
    }
  }

  a {
    transition: color 0.3s;
  }

  a:hover {
    color: rgb(252, 181, 198);
  }
}

.search-box {
  padding: 1rem;
  margin: 0 1.5rem;
  font-size: 0;
  background: linear-gradient(30deg, #fff, #d99eea);
  border-radius: 0.5rem;

  >* {
    font-size: 1rem;
  }

  .search-input {
    margin-right: 1%;
    width: 69%;
    border: 1px inset #ceade3;
    outline: none;
  }

  .search-button {
    width: 30%;
    color: #fff;
    background-color: #d99eea;
    border: 1px outset #ceade3;
    text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
    transition: 0.2s;
  }

  .search-button:hover,
  .search-button:focus {
    background-color: rgb(252, 181, 198);
    box-shadow: 1px 1px rgba(51, 51, 51, 0.5);
  }
}

.footer {
  padding-top: 1rem;
  width: 100%;
  background: #2d3d54 url('../images/black-wood-angle-texture.jpg');
  background-color: rgba(51, 51, 51, 0.5);

  .copyright {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
  }
}

.horizontal-list {
  margin: 0 auto;
  width: 970px;
  font-size: 0;
  text-align: right;

  .horizontal-item {
    display: inline-block;
    padding: 0 1rem;
    letter-spacing: 1px;

    + .horizontal-item {
      border-left: 1px solid #ccc;
    }

    a {
      border-bottom: 1px dashed #777;
      font-size: 1.1rem;
      transition: 0.2s;
    }

    a:hover {
      color: rgb(252, 181, 198);
    }
  }
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}
